<div class="container w-50 mt-5 text-center">
   <div class="display-3 text-center m-3 text-white">
     Word limit : {{limit}}
   </div>

    <button (click)="reset()" type ="button"class="btn btn-success">Reset</button>
      
<input type="range"
 class="slider form-range" 
 min="0"
 max="50"
 value="{{limit}}"
 (change)="getLimit($any($event.target).value)"
>
<button (click)="generateWords()" type="button" class="btn btn-info">generate Words</button>
<div *ngIf="words" class="card card-body">
      <p class="display-4">
         {{words}} </p>
 </div>

</div>